body{
    font-family: sans-serif;
}

header{
    background-color: black;
    color: white;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 50px;
    height: 70px;
    line-height: 70px;
    padding-left: 40px;
}

section{
    background: #ccc;
}

article{
    display: flex;
    background-color: grey;
}

.article1{
    flex-wrap: nowrap;
}

.article2{
    flex-wrap: wrap;
}

img{
    background-color: grey;
    width: 150px;
    border: dashed 1px;
    margin: 15px;
    padding: 20px;
}